<settings>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
        <artifactId>sonar-maven-plugin</artifactId>
        <version>3.0.2</version>
    </pluginGroups>
    <mirrors>
        <mirror>
            <id>nexus</id>
            <mirrorOf>*</mirrorOf>
            <url>http://nexus-cicd.stgcloud.bancogalicia.com.ar/repository/maven-public</url>
        </mirror>
    </mirrors>
    <servers>
        <server>
            <id>nexus</id>
            <username>dev1</username>
            <password>dev1</password>
        </server>
    </servers>
</settings>
